.list-container {
    display: grid;

    .card {
        margin: auto auto 25px;
        background-color: white;
        width: 250px;
        text-align: center;

        img {
            width: 95%;
            margin-top: 5px;
        }

        .bank-name {
            color: #1995ad;
            font-weight: bold;
        }

        @media screen and (min-width: 576px) {
            width: 350px;
            display: grid;
            grid-template-columns: 40% 60%;
            align-items: center;

            img {
                width: 100%;
                padding: 5px;
                margin-top: 0;
            }
        }

        @media screen and (min-width: 768px) {
            width: 510px;

            .atm-info {
                font-size: 1.2rem;
            }
        }

        @media screen and (min-width: 992px) {
            width: 750px;
        }
    }

    .map-tablet {
        display: none;

        @media screen and (min-width: 768px) {
            display: inline;
        }
    }

    .map-mobile {
        @media screen and (min-width: 768px) {
            display: none;
        }
    }
    
    .card-initial {
        position: relative;
        right: 100vw;
    }

    .card-transition {
        transition: transform 0.5s;
        transform: translate(100vw, 0);
    }
}