.interface-error-container,
.filter-error-container {
    margin: 10px auto;
    color: #1995ad;
    text-align: center;
}

.filter-error-container {
    @media screen and (min-width: 768px) {
        grid-column: span 2;
    }
}